        .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }

  .bg3 {
    animation-duration:5s;
  }


  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  #reviewInput{
    position: relative;
    right: -700px;

  }

  #submit{
    position: relative;
    right: 0px;
    top: 350px;
  }

  #name{
    position: relative;
    right: -490px;
    top: 250px;
  }

  #email{
    position: relative;
    top: 150px;
    right: -310px;
  }

  #rating{
    position: relative;
    top: 100px;
    right: -125px;
  }
