        .medicalRecords{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body{
            background-color: #1e1e1e;
            color: white;
        }

        #deleteButton{
            position: relative;
            top: 200px;
            right: 325px;
        }
